<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.yang.dao.UserMapper">
    <!--结果集映射-->
    <resultMap id="userResultMap" type="ddd">
        <!--property实体类中的属性,column数据库中的字段-->
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="pwd"/>
    </resultMap>
    <!--根据id查询  resultType返回值类型；parameterType参数类型-->
    <select id="getUserId" resultMap="userResultMap">
        select *
        from mybatis.user
        where id = #{id}
    </select>

</mapper>