<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="spring-dao.xml"/>

    <bean id="userMapperImpl02" class="com.yang.mapper.UserMapperImpl02">
        <!--使用SqlSessionDaoSupport的方法可以省略sqlSessionTemplate，直接使用sqlSessionFactory-->
<!--        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>-->
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

</beans>